body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    font-family: var(--font-main) !important;
    background-color: var(--color-light);
}

h1, h2 {
    color: var(--color-small-dark);
    font-family: var(--font-main) !important;
}

footer {
    margin-top: auto;
}