body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: var(--color-light);
}

h1,
h2,
a,
p,
span,
div {
  font-family: var(--font-main) !important;
}

footer {
  margin-top: auto;
}
