:root {
    --color-primary: #FF4F4F;
    --color-primary-light: #FF4F4FAA;
    --color-secondary : #FFFFFF;
    --color-thirty: #0E0E0E;

    --color-light: #F9F9F9;
    --color-ultra-light: #FFFFFFAA;
    --color-medium-light: #FFFFFF88;
    
    --color-dark: #000000;
    --color-small-dark: #000000ee;
   
}