:root {
  --color-primary: #ff4f4f;
  --color-primary-light: #ff4f4faa;
  --color-secondary: #ffffff;
  --color-thirty: #0e0e0e;

  --color-light: #f9f9f9;
  --color-ultra-light: #ffffffaa;
  --color-medium-light: #ffffff88;

  --color-dark: #000000;
  --color-small-dark: #000000ee;
}
